<fieldset
  [formGroup]="parentFormGroup"
  class="border rounded p-5 flex flex-col gap-y-3"
>
  <legend class="text-xl font-semibold">{{ label }}</legend>

  <div class="form-field flex flex-col gap-y-2">
    <label for="name" class="text-xl font-medium">Name</label>
    <input
      type="text"
      formControlName="name"
      id="name"
      class="border rounded"
    />
    <div
      *ngIf="parentFormGroup.controls.name.hasError('required')"
      class="text-rose-500"
    >
      Name is required!
    </div>
  </div>

  <div class="form-field flex flex-col gap-y-2">
    <label for="email" class="text-xl font-medium">email</label>
    <input
      type="email"
      formControlName="email"
      id="email"
      class="border rounded"
    />
    <div *ngIf="parentFormGroup.controls.email.errors" class="text-rose-500">
      <span
        *ngIf="parentFormGroup.controls.email.hasError('required')"
        >Email is required!</span
      >
      <span
        *ngIf="parentFormGroup.controls.email.hasError('email')"
        >Please enter a valid email address!</span
      >
    </div>
  </div>

  <div class="form-field flex flex-col gap-y-2">
    <label for="phone" class="text-xl font-medium">Phone</label>
    <input
      type="number"
      formControlName="phone"
      id="phone"
      class="border rounded"
    />
    <div *ngIf="parentFormGroup.controls.phone.errors" class="text-rose-500">
      <span
        *ngIf="parentFormGroup.controls.phone.hasError('required')"
        >phone is required!</span
      >
      <span
        *ngIf="parentFormGroup.controls.phone.hasError('pattern')"
        >Please enter a valid phone!</span
      >
    </div>
  </div>
</fieldset>
